<div class="main-widget">
    <div class="main-title">
        <h3>${title}</h3>
    </div>
    <div id="main-content" data-dojo-attach-point="setfont">
        <p class="main-item">
            <label>${label}</label>
            <a>${content.0}</a>
        </p>
        <p class="main-item">
            <label>${label}</label>
            <a>${content.1}</a>
        </p>
        <p class="main-item">
            <label>${label}</label>
            <a>${content.2}</a>
        </p>
        <p class="main-item">
            <label>${label}</label>
            <a>${content.3}</a>
        </p>
        <p class="main-item">
            <label>${label}</label>
            <a>${content.4}</a>
        </p>
        <p class="main-item">
            <label>${label}</label>
            <a>${content.5}</a>
        </p>
        <p class="main-item">
            <label>${label}</label>
            <a >${content.6}</a>
        </p>
        <p class="main-item">
            <label>${label}</label>
            <a>${content.7}</a>
        </p>

    </div>
</div>