
<div >

 <div class="null"></div>
     <label>${label1}</label>

    <ul>
     <li><a>${data1.0}</a></li>
     <li><a>${data1.1}</a></li>
    </ul>


 <div class="null"></div>
    <label>${label2}</label>

    <ul>
     <li><a>${data2.0}</a></li>
     <li><a>${data2.1}</a></li>
     <li><a>${data2.2}</a></li>
    </ul>

    <div class="null"></div>
    <label>${label3}</label>

    <ul>
     <li><a>${data3.0}</a></li>
     <li><a>${data3.1}</a></li>
     <li><a>${data3.2}</a></li>
    </ul>
</div>